<style>
    .custom-heading {
        font-weight:bold!important;
    }
    .custom-footer {
        font-weight:bold;
    }

    .custom-label {
        font-size: 1rem;
    }
    .custom-border-bottom {
        border-bottom: 1px solid #999999;
    }
    .custom-detail-margin {
        margin-left:55px;
        margin-right:55px;
    }
</style>

<div class="tab-content">

    <div id="overview-tab" role="tabpanel" class="tab-pane active">
        <!-- start dashboard -->
        <div class="resource-dashboard">
            <div class="tab-header-stats">
                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
		                20
	                </span>
                    <span class="stat-label">
		            Managed Services
	                </span>
                </div>
                <div class="tab-header-stat-item big-stat-block">
                    <span class="stat-content">
                        $1900
                    </span>
                    <span class="stat-label">
		                Total Services Cost
	                </span>
                </div>

                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
		               $300
	                </span>
                    <span class="stat-label">
		                Average Service Cost
	                </span>
                </div>

                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
		                $700
	                </span>
                    <span class="stat-label">
		                Most Expensive Service
	                </span>
                </div>

            </div>
        </div>
        <!-- end dashboard -->

        <!-- start detail -->
        <div class="custom-detail-margin">
            <h2>Service Detail</h2>
            <p>The following managed services are installed on this Instance</p>
            <table class="table table-striped custom-border-bottom">
                <thead>
                <tr>
                    <th class="custom-heading">ID</th><th class="custom-heading">NAME/DESCRIPTION</th><th class="custom-heading">COST</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                <tr>
                    <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                     <td colspan="2">TOTAL</td><td class="custom-footer">$180</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- end detail -->

    </div>
</div>