<ul class="view-type nav nav-pills nav-justified" >
    <li role="presentation" class="active"><a href="#overview-tab" data-toggle="pill" role="tab">Overview</a></li>
    <li role="presentation"><a href="#service-detail-tab" data-toggle="pill" role="tab">Service Detail</a></li>
</ul>

<div class="tab-content">
    <!-- start overview tab -->
    <div id="overview-tab" role="tabpanel" class="tab-pane active">
        <h2>Overview</h2>

    </div>
    <!-- end overview tab -->

    <!-- end service detail tab -->
    <div id="service-detail-tab" role="tabpanel" class="tab-pane">
        <h2>Service Detail</h2>
        <p>The following managed services are installed on this technical services</p>
        <table>
            <thead>
            <tr>
                <th>ID</th><th>NAME/DESCRIPTION</th><th>COST</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>serive1;</td><td>A managed serviceL</td><td>$180</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>&nbsp;</td><td>TOTAL</td><td>$180</td>
            </tr>
        </table>
    </div>
    <!-- end service detail tab -->
</div>





<h1>Instance {{name}}</h1>
<dl>
	<dt>Description</dt>
	<dd>{{description}}</dd>
	<dt>Status</dt>
	<dd>{{status}}</dd>
	<dt>Max Cores</dt>
	<dd>{{maxCores}}</dd>
</dl>

