<div class="tab-content">
    <div id="overview-tab" role="tabpanel" class="tab-pane active">
        <!-- start dashboard -->
        <div class="resource-dashboard">
            <div class="tab-header-stats">
                <div class="tab-header-stat-item big-stat-block">
	                <span class="stat-content">
		                0
	                </span>
                    <span class="stat-label">
		            Managed Services
	                </span>
                </div>
                <div class="tab-header-stat-item big-stat-block">
                    <span class="stat-content">
                        {{currencySymbol}}0
                    </span>
                    <span class="stat-label">
		                Total Services Cost
	                </span>
                </div>
            </div>
        </div>
        <!-- end dashboard -->
    </div>
</div>